Lab 2. Sorting Comercial Plastics

Stock solutions have known concentrations and volume may be chosen freely via measurement.

To find dilted concentration, use 

$$
M_1 V_1 = M_2 V_2 \\
M_2 = M_1 \frac{V_1}{V_2} \\
M_2 = 1 * \frac{20}{25} = 0.8
$$

In [1]:
import numpy as np

def final_concentration(final_vol, imol, ivol):
    return imol * ivol / final_vol

0.8

|   Item    |    Quantity   | Hazards | Handling / Disposal/Storage |
| ---   |   ---  | --- | --- |
|Beaker | 2 |  Don't drop glass | clean and return
|Scale | 1 | Avoid spilling water | does not move
|Graduated Cylinder | 2 |Don't drop glass| clean and return
|Pippet| 2 | Don't drop glass| clean and return
|Stir rod| 2 | Don't drop glass|clean and return
|4M Sodium Chloride | 50 ml | Eye irritant | landfill/sink |
|Water | as needed| None | disposed of using sink |
|ethanol mixture | 50ml | Eye/Skin Irritant, Inhalation Hazard, Dangerous | sink  |

| Andrew | Brett | Jake | Nick |
| --- | --- | --- | --- |
| Help setup | Gather supplies  | Check procedure & safety | gather supplies
| gather solutions into beakers | mix water and solution to get densities | help measure mixtures | mix solutions to proper densities |
| record measurements / observations | perform plastic density experiment | perform plastic density experiment |  mix new solution
| organize data into table | continue sink/float experiment | continue sink/float experiment | record observations
| help setup displacement experiment | cleanup supplies | gather water | cleanup supplies |
| record mixture/material data | Collect solutions in beaker | measure and mix solution | assistin following procedure
| record density results  | get plastic masses | get plastic volume | convert mass/volume to density |
| perform spectroscopic experiment | record spectroscopic information | make observations | perform spectroscopic experiment
| record and organize data | perform calculations | analyze results | make analysis and conclusion

In [49]:
import pandas as pd

water_density = 1.0 #g/ml
sodium_chloride_density = 2.17 #g/ml
ethanol_density = 0.79 #g/ml

sodium_g_mol = 58 #g/mol

water_ethanol_50_50 = 0.91

Water_4M_NaCl = (water_density*1000+4*sodium_g_mol)/1000

solution = Water_4M_NaCl

water_solution_5_20 = (5*solution + 20 * water_density)/25

water_solution_10_15 = (10*solution + 15* water_density)/25

water_solution_15_10 = (15*solution + 10* water_density)/25


df = pd.DataFrame(columns=['Test num', 'solution', 'density (calculated)', 'p1', 'p2', 'p3', 'p4', 'p5', 'p6'])
df.loc[len(df)] = ['1', 'Water', water_density, 'sink', 'sink', 'sink', 'float', 'float', 'sink']
df.loc[len(df)] = ['2', '50/50 water/ethanol', water_ethanol_50_50, 'sink', 'sink', 'sink', 'sink', 'float', 'sink']
df.loc[len(df)] = ['3', '5:20 Solution:water', water_solution_5_20, 'sink', 'sink', 'sink', 'float', 'float', 'sink']
df.loc[len(df)] = ['4', '10:15 Solution:water', water_solution_10_15, 'sink', 'sink', 'sink', 'float', 'float', 'sink']
df.loc[len(df)] = ['5', '15:10 Solution:water', water_solution_15_10, 'sink', 'sink', 'sink', 'float', 'float', 'sink']

df

,Test num,solution,density (calculated),p1,p2,p3,p4,p5,p6
0,1,Water,1.0000,sink,sink,sink,float,float,sink
1,2,50/50 water/ethanol,0.9100,sink,sink,sink,sink,float,sink
2,3,5:20 Solution:water,1.0464,sink,sink,sink,float,float,sink
3,4,10:15 Solution:water,1.0928,sink,sink,sink,float,float,sink
4,5,15:10 Solution:water,1.1392,sink,sink,sink,float,float,sink

In [42]:
solution

1.232

In [59]:
df = pd.DataFrame(columns=['Plastic', 'Weight (g)', 'Volume (mL)'])
df.loc[len(df)] = [1, 1.125, 0.9]
df.loc[len(df)] = [2, 1.031, 0.9]
df.loc[len(df)] = [3, 1.104, 0.8]
df.loc[len(df)] = [4, 0.781, 0.8]
df.loc[len(df)] = [5, 0.821, 0.9]
df.loc[len(df)] = [5, 0.936, 0.8]

df['Density (g/ml)'] = df['Weight (g)'] / df['Volume (mL)']

df

   Plastic  Weight (g)  Volume (mL)  Density (g/ml)
0      1.0       1.125          0.9        1.250000
1      2.0       1.031          0.9        1.145556
2      3.0       1.104          0.8        1.380000
3      4.0       0.781          0.8        0.976250
4      5.0       0.821          0.9        0.912222
5      5.0       0.936          0.8        1.170000