# GPA calculation

In [239]:
import pandas as pd

file_path = 'transcript_raw.txt'

df = pd.read_csv(file_path, header=None) 

transcript = pd.DataFrame(columns=['Course','Name','Credits','Grade','Honors'])

for val in df[0]:
    entry = val.split(' ')
    if not entry[-1]:
        entry.pop(-1)

    code = ' '.join(entry[:2])

    i = 0
    if entry[-1] in {'H'}:
        addl = True
        i = 1
    else:
        addl = False
    
    grade = entry[-1-i]
    credits = float(entry[-2-i])
    name = ' '.join(entry[2:-2-i])
    transcript.loc[len(transcript)] = [code, name, credits, grade, addl]

transcript

      Course                            Name  Credits Grade  Honors
0    CEM 141               GENERAL CHEMISTRY      4.0   4.0   False
1   MTH 153H              HONORS CALCULUS II      4.0   4.0    True
2    PHL 225                       PARADOXES      3.0   3.5   False
3    PHY 184  PHYS SCIENTISTS & ENGINEERS II      4.0   4.0   False
4   UGS 200H         HONORS RESEARCH SEMINAR      3.0     P    True
5     BS 161             CELLS AND MOLECULES      3.0   4.0   False
6    MTH 234          MULTIVARIABLE CALCULUS      4.0    CR   False
7   MTH 317H           HONORS LINEAR ALGEBRA      4.0    CR    True
8    PHY 215  THERMODYNAMICS & MODRN PHYSICS      3.0    CR   False
9    PHY 440                     ELECTRONICS      4.0    CR   False
10  CMSE 201        COMP MODEL & DATA ANYL I      4.0   4.0   False
11   PHY 471               QUANTUM PHYSICS I      3.0   3.0   False
12   PHY 481     ELECTRICITY AND MAGNETISM I      3.0   3.0   False
13   CSS 202                   WORLD OF TURF      2.0   3.5   False
14    EC 404        BEHAVIORAL ECONOMICS (W)      3.0   4.0   False
15  MTH 347H     HON ORDINARY DIFF EQUATIONS      3.0   3.0    True
16   PHY 321           CLASSICAL MECHANICS I      3.0   4.0   False
17   PHY 451             ADVANCED LABORATORY      3.0   3.5   False

In [240]:
transcript['Major'] = [
    True, True, False, True, True,
    True, True, True, True, True,
    True, True, True,
    False, False, True, True, True
]

t_hasgrade = transcript[transcript['Grade'].copy().apply(lambda x: not x.isalpha())]
t_hasgrade.loc[:,['Credits', 'Grade']] = t_hasgrade.loc[:,['Credits', 'Grade']].astype(float)

t_hasgrade['GP'] = t_hasgrade.loc[:,['Credits', 'Grade']].prod(axis=1)
t_major = t_hasgrade[t_hasgrade['Major']]

C:\Users\andre\AppData\Local\Temp\ipykernel_12888\1620540602.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t_hasgrade['GP'] = t_hasgrade.loc[:,['Credits', 'Grade']].prod(axis=1)

In [241]:
t_hasgrade

,Course,Name,Credits,Grade,Honors,Major,GP
0,CEM 141,GENERAL CHEMISTRY,4.0,4.0,False,True,16.0
1,MTH 153H,HONORS CALCULUS II,4.0,4.0,True,True,16.0
2,PHL 225,PARADOXES,3.0,3.5,False,False,10.5
3,PHY 184,PHYS SCIENTISTS & ENGINEERS II,4.0,4.0,False,True,16.0
5,BS 161,CELLS AND MOLECULES,3.0,4.0,False,True,12.0
10,CMSE 201,COMP MODEL & DATA ANYL I,4.0,4.0,False,True,16.0
11,PHY 471,QUANTUM PHYSICS I,3.0,3.0,False,True,9.0
12,PHY 481,ELECTRICITY AND MAGNETISM I,3.0,3.0,False,True,9.0
13,CSS 202,WORLD OF TURF,2.0,3.5,False,False,7.0
14,EC 404,BEHAVIORAL ECONOMICS (W),3.0,4.0,False,False,12.0
15,MTH 347H,HON ORDINARY DIFF EQUATIONS,3.0,3.0,True,True,9.0
16,PHY 321,CLASSICAL MECHANICS I,3.0,4.0,False,True,12.0
17,PHY 451,ADVANCED LABORATORY,3.0,3.5,False,True,10.5

In [242]:
total_credit = sum(t_hasgrade['Credits'])
total_score = sum(t_hasgrade['GP'])

gpa = total_score/total_credit
print(gpa)

major_credit = sum(t_major['Credits'])
major_score = sum(t_major['GP'])

major_gpa = major_score/major_credit
print(major_gpa)

3.6904761904761907
3.6911764705882355

In [243]:
'hi' in {'hi', 'bye'}

True

In [244]:
entry

['PHY', '451', 'ADVANCED', 'LABORATORY', '3.00', '3.5']

In [245]:
i

0

In [246]:
entry[-1-i]

'3.5'

In [247]:
entry = val.split(' ')
if entry[-1].isalpha():

SyntaxError: incomplete input (3001847479.py, line 3)

In [80]:
'4'.isalpha()

False